@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20%;
    margin-right: 20%;
}

.gehaktbrood {
    line-height: 36px;
    font-size: 36px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    padding-top: 7px;
}

.eerste-paragraaf {
    line-height: 32px;
    font-size: 24px;
    padding-top: 20px;
}

.Ingrediententitel {
    line-height: 32px;
    font-size: 32px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
}

.ingredienten {
    line-height: 26px;
    font-size: 20px;
}

.bereidingswijzetitel {
    line-height: 32px;
    font-size: 32px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
}

.bereidingswijze {
    line-height: 26px;
    font-size: 20px;
}

.a {
    padding-bottom: 10px;
}

.b {
    padding-bottom: 20px;
}

#img {
    padding-bottom: 25px;

}

.tip {
    background-color: #def6ed;
    padding: 25px;
    border-radius: 4px;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    width: 950px;
}

#tipboldness {
    font-weight: bold;
}

.size {
    font-size: 15px !important;
}